* {
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}

.logo {
    flex: 1;
    font-size: 24px;
    justify-content: start;
    font-family: 'roboto', sans-serif;
    color: #f9faf8;
    font-weight: 600;
    padding: 0;
    margin-left: 4rem;
}

ul.nav-links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin-right: 4rem;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 250;
}

.hero-area {
    display: flex;
    background-color: #1F2937;
}

.hero-content {
    flex: 1;
    padding: 150px 4rem;
    justify-content: center;
}

.hero-text {
    color: #F9FAFB;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: start;  
}

.subtext {
    font-size: 18px;
    color: #f9faf8;
    margin-top: 6px;
    font-weight: 300;
}

.signup-button {
    margin-top: 20px;
    padding: 8px 26px;
    background-color: #3882F6;
    color: #f9faf8;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
}

.image-placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
}

.image {
    background-color: #6e747d;
    color: #f9faf8;
    padding: 75px 150px;
    margin-right: 4rem;
    text-align: center;
}

.info-section {
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin: 50px 20px;
}
.info-cards {
    display: flex;
    gap: 50px;
    margin: 40px 0;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding-bottom: 75px;
}
.info-card {
    display: flex;
    border: #3882F6 4px solid;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.testimonial-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
}

.testimonial {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    justify-content: center;
    text-align: center;
}

.author {
    font-size: 20px;
    font-weight: 900;
    text-align: end;
    padding-right: 30%;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 80px 200px;
    padding: 40px 20px;
    border-radius: 8px;
    align-items: center;
}

.cta-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.cta-subtext {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 300;
    margin-top: 6px;
}

.cta-button {
    padding: 8px 30px;
    background-color: #3882F6;
    color: #f9faf8;
    border: solid 2px #f9faf8;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cta-left {
    margin-left: 15%;
}

.cta-right {
    margin-right: 15%;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px 0;
    font-size: 8px;
}

.footer-text {
    font-weight: 300;
}